@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #121212;
    overflow: hidden;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.app-title
{
    margin: 50px auto 50px;
    text-align: center;
    color: #ddd;
    font-weight: bold;
    font-size: 36px;
}

.wheelsetting {
    color: #fff;
    height: auto;
    width: auto;
    padding: 0 auto 0 auto;
    text-align: center;
    margin: 25px auto 25px auto;
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px 1fr;
    place-items: center;
}

.wheeldisplay {
    background-color: #444;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    display: grid;
    grid-template-rows: 1fr 1.25fr 1fr;
    place-items: center;
}

.wheelmove
{
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.wheelmove.up {
    background-color: rgb(20, 56, 29);
}

.wheelmove.up:hover {
    background-color: rgb(28, 105, 47);
}

.wheelmove.dn {
    background-color: rgb(53, 21, 21);
}

.wheelmove.dn:hover {
    background-color: rgb(100, 30, 30);
}

.instruction
{
    margin: 75px auto 10px auto;
    color: #888;
    text-align: center;
}

#lightboard {
    background-color: #262626;
    text-align: center;
    margin: 0 auto 15px auto;
    border-radius: 16px;
    padding: 25px 20px 25px 20px;
    width: 900px;

    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.4);

    display: grid;
    grid-template-columns: ;
}

.lightrow {
    margin: 0 auto;
}

.lightbutton {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    background-color: #999;
    width: 50px;
    height: 50px;
    border-radius: 16px;
    margin: 10px 15px 10px 15px;
    display: inline-block;
    line-height: 50px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.4);
}

.message_display_title
{
    margin: 25px auto 10px auto;
    color: #777;
    text-align: center;
    font-size: 16px;
}

.message_display {
    width: 400px;
    height: 50px;
    margin: auto;
    padding: 10px 15px;
    overflow: auto;
    background-color: #505050;
    border-radius: 10px;
    font-size: 16px;
    color: gold;

    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#plugboard {

}